<html>

<head>
    <title>Basic Validation Example</title>
    <style>
        * {
            margin: 10px;
            padding: 0px;
        }
    </style>
</head>

<body>
    <h1>Enter a Valid E-mail</h1>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for mesaages in messages %}
    <p>{{message}}</p>
    {% endfor %} {% endif %} {% endwith %}
    <form action='/process' method='POST'>
        email:<input type="text" name="email">
        <input type="submit" value="Submit">
    </form>
</body>

</html>