<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Reg | Success</title>
</head>

<body>
    <div id="wrapper">
        <h1>Hello, {{ user.first_name }}!</h1>
        <h4>Succesfully registered (or logged in)!</h4>
        {% if messages and request.session.valid == "Register" %} {% for x in messages %}
        <p>{{ x.message }}</p>
        {% endfor %} {% endif %}

        <a href="{% url 'logreg:logout' %}">Logout</a>
    </div>
</body>

</html>