<html>

<head>
    <title>About</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            background-color: black;
        }
        
        p {
            color: goldenrod;
            font-size: 25px;
            text-align: center;
            margin-top: 250px;
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <p>I am a Python web developer and I like turtles. I love swimming with them. The galapagos island turtles are my favorite because they get so big that you can actually sit on top of them and take a ride!</p>
</body>

</html>