<html>

<head>
    <title>Projects</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            background-color: black;
        }
        
        p {
            color: white;
            font-size: 35px;
        }
        
        ul {
            margin-left: 15px;
            margin-top: 20px;
        }
        
        li {
            color: goldenrod;
            font-size: 25px;
            margin-left: 40px;
        }
    </style>
</head>

<body>
    <p>My Projects:</p>
    <hr>
    <ul>
        <li>Danger Zones</li>
        <li>Ninja Cohorts</li>
        <li>Turtle Diaries</li>
        <li>Fat Unicorn!</li>
        <li>Skinny Walrus!</li>
    </ul>

</body>

</html>