<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Reg | Home</title>
    <style>
        input {
            border-radius: 4px;
        }
        
        #register {
            background-color: #597eaa;
            color: white;
        }
        
        #login {
            background-color: #597eaa;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Welcome!</h1>
    <br>

    <h1>Registration</h1>
    {% if messages and request.session.valid == "Register" %} {% for x in messages %}
    <p>{{ x.message }}</p>
    {% endfor %} {% endif %}


    <form action="/register" method='POST'>
        {% csrf_token %}
        <label>First Name:</label>
        <input type="text" name="first"><br>
        <label>Last Name:</label>
        <input type="text" name="last"><br>
        <label>Email:</label>
        <input type="text" name="email"><br>
        <label>Password:</label>
        <input type="password" name="pw"><br>
        <label>Confrim Password:</label>
        <input type="password" name="conf_pw"><br>
        <input type="submit" value="Register" id="register">
    </form>
    <h1>Login</h1>
    {% if messages and request.session.valid == "Login" %} {% for x in messages %}
    <p>{{ x.message }}</p>
    {% endfor %} {% endif %}


    <form action="/login" method='POST'>
        {% csrf_token %}
        <label>Email:</label>
        <input type="text" name="email"><br>
        <label>Password:</label>
        <input type="password" name="pw"><br>
        <input type="submit" value="Login" id="login">
    </form>



</body>

</html>