<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Show</title>
</head>

<body>
    <h1>{{ user.first_name }} {{ user. last_name }}</h1>
    <p>Full Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Email: {{ user.email_address }}</p>
    <p>Created At: {{ user.created_at }}</p>

    <a href="/users/{{ user.id }}/edit">Edit</a>
    <a href="/users/{{ user.id }}/destroy">Delete</a>
    <a href="/">Go back</a>

</body>

</html>