<html>

<head>
    <title>Dojos</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            background-color: black;
        }
        
        p {
            color: goldenrod;
            text-align: center;
            font-size: 25px;
            margin-top: 30px;
        }
        
        form {
            margin-left: 450px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <p>Fill out form to proceed</p>
    <form action=''>
        Name:<input type='text' name='name'> E-mail:
        <input type='text' name='name'>
        <input type='submit' name='submit'>
    </form>
</body>

</html>