<html>

<head>
    <title>Hi there! Welcome to my basic page!</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            background-color: black;
        }
        
        h1 {
            color: greenyellow;
            text-align: center;
        }
        
        p {
            color: goldenrod;
            text-align: center;
            font-size: 25px;
        }
    </style>
</head>

<body>
    <h1>I like Turtles</h1>
    <br>
    <p>My name is Wictor Dunbar. Hi.</p>
</body>

</html>