<html>

<head>
    <title>Ninjas</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            background-color: black;
        }
        
        p {
            color: goldenrod;
            font-size: 30px;
            text-align: center;
            margin-top: 300px;
        }
    </style>
</head>

<body>
    <p>Ninjas are said to be highly skilled assassins and quieter than the night...</p>
</body>

</html>