<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete</title>

</head>

<body>
    <div id="top">
        <a href="{% url 'logreg_app:logout' %}">Logout</a>
    </div>
    <h3>Are you sure you want to delete the following appointment?</h3>
    <p>Start Date: {{appointment.start_date}}</p>
    <p>Start Time: {{appointment.start_time}}</p>
    <p>Tasks: {{appointment.task}}</p>
    <form class="" action="{% url 'appts_app:index' %}" method="post">
        {% csrf_token %}
        <input type="submit" name="no" value="No">
    </form>
    <form action="{% url 'appts_app:destroy' appointment_id=appointment.id %}" method='POST'>
        {% csrf_token %}
        <input type="submit" name="yes" value="Yes! Delete this">
    </form>
</body>

</html>